@charset "utf-8";
/* CSS Document */
/****************************  my css reset start  ******************************************/
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
ol,ul{list-style:none;}
img,fieldset,iframe{border:0;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
h1,h2,h3,h4,h5,h6,th,caption{text-align:left;}
:focus{outline:0;}
em,strong,i{font-weight:normal;font-style:normal;}
.clearfix:after{content:'.';display:block;height:0;visibility:hidden;clear:both;}
/*       new clearfix:after{clear:both;content:'';display:table;}                              */
/****************************  my css reset end  ******************************************/






body{font-size:12px;}
a:link{text-decoration:none;}
a:visited{}
a:hover{}
a:active{}